In [2]:
import pandas as pd

In [3]:
hapdf = pd.read_csv('2016.csv')
hapdf.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [4]:
cols_to_drop = ['Region','Happiness Rank','Lower Confidence Interval','Upper Confidence Interval',\
                'Economy (GDP per Capita)','Family','Health (Life Expectancy)','Freedom',\
                'Generosity','Dystopia Residual','Trust (Government Corruption)']

hapdf.drop(cols_to_drop, 1, inplace=True)

In [5]:
hapdf

         Country  Happiness Score
0        Denmark            7.526
1    Switzerland            7.509
2        Iceland            7.501
3         Norway            7.498
4        Finland            7.413
..           ...              ...
152        Benin            3.484
153  Afghanistan            3.360
154         Togo            3.303
155        Syria            3.069
156      Burundi            2.905

[157 rows x 2 columns]

In [6]:
bigmacdf = pd.read_csv('big-mac-source-data.csv')
bigmacdf['date'] = pd.to_datetime(bigmacdf['date'])

In [7]:
mask = (bigmacdf['date'] >= '2016-01-01') & (bigmacdf['date'] <= '2016-12-31')
bigmacdf = bigmacdf.loc[mask]

In [9]:
cols_to_drop = ['GDP_dollar']
bigmacdf.drop(cols_to_drop, axis=1, inplace=True)

In [10]:
bigmacdf

               name iso_a3 currency_code  local_price     dollar_ex       date
1018      Argentina    ARG           ARS        33.00     13.809250 2016-01-01
1019      Australia    AUS           AUD         5.30      1.415729 2016-01-01
1020        Austria    AUT           EUR         3.50      0.930233 2016-01-01
1021        Belgium    BEL           EUR         3.95      0.930233 2016-01-01
1022         Brazil    BRA           BRL        13.50      4.024800 2016-01-01
...             ...    ...           ...          ...           ...        ...
1125        Ukraine    UKR           UAH        39.00     24.800000 2016-07-01
1126  United States    USA           USD         5.04      1.000000 2016-07-01
1127        Uruguay    URY           UYU       123.00     30.165000 2016-07-01
1128      Venezuela    VEN           VEF      2170.00    641.400100 2016-07-01
1129        Vietnam    VNM           VND     60000.00  22300.000000 2016-07-01

[112 rows x 6 columns]

In [11]:
bigmacdf.to_csv('bigmacdf.csv')

In [12]:
hapdf.to_csv('hapdf.csv')

In [19]:
#newdf = bigmacdf.groupby('name').agg({'local_price' : 'mean'})